# [void*.ers] - TwinCAT Custom V1.0.1.0

# Visual Studio
**/.vs/
*.~u
*.user

# Build results
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/x64/
**/x86/
**/[Aa][Rr][Mm]/
**/[Aa][Rr][Mm]64/
**/bld/
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og/
**/[Ll]ogs/

# Temporary files
*.[Cc]ache
*.pfx

# NuGet Packages
*.nupkg

# TwinCAT 
**/_Boot/
*.tclrs
*.bin
*.bak
*.tpy
*.tclrs

# Online Change sources
**/_CompileInfo/
*.compileinfo

# TwinCAT HMI related
**/.engineering_servers/
**/json-schema.org/
**/Packages/
**/backup_*/
**/UpgradeLog.htm

# Twincat Vision related
*.tcs
*.mp4